[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.3"
sqlalchemy = "==2.0.7"
pymongo = "==4.5.0"
werkzeug = "==2.2.3"
openai = ">=1.10.0"
python-dotenv = ">=1.0.1"
requests = ">=2.32.3"
browser-use = "==0.1.40"
pyperclip = "==1.9.0"
gradio = "==5.23.1"
json-repair = "*"
langchain-anthropic = "*"
langchain-google-genai = "==2.0.8"
maincontentextractor = "==0.0.4"
asyncio = "*"
dill = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.11"
